<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="conexion" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog= Campeonato ; integrated security = true"
      providerName="System.Data.SqlClient" />
    <add name="Campeonato.Properties.Settings.Connection" connectionString="Data Source=JOAQUIN\SQLEXPRESS;Initial Catalog=Campeonato;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>